# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
docs

# nyc test coverage
.nyc_output

# Compiled binary addons (http://nodejs.org/api/addons.html)
dist

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
